<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grading App</title>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto mt-5">
                <div class="card bg-light">
                   
                
                <div class="card-body">
                    <form action="./scale.php" method="post">
                    <div class="row">
                    
                    <div class="col-sm-6">
                        <input type="number" step="0.1"min="0" name="minA" placeholder="A - Minimum score" class="form-control mb-3 mt-3"/>
                        <input type="number"step="0.1" min="0"  name="minB" placeholder="B - Minimum score" class="form-control mb-3"/>
                        <input type="number"step="0.1" min="0"  name="minC" placeholder="C - Minimum score" class="form-control mb-3"/>
                        <input type="number"step="0.1" min="0"  name="minD" placeholder="D - Minimum score" class="form-control mb-3" />
                        <input type="number"step="0.1" min="0"  name="minE" placeholder="E - Minimum score" class="form-control mb-3" />
                    
                       </div>
                       <div class="col-sm-6">
                        <input type="number"step="0.1" min="0"  name="maxA" placeholder="A - Maximum score" class="form-control mb-3 mt-3"/>
                        <input type="number"step="0.1" min="0"  name="maxB" placeholder="B - Maximum score" class="form-control mb-3"/>
                        <input type="number"step="0.1" min="0"  name="maxC" placeholder="C - Maximum score" class="form-control mb-3"/>
                        <input type="number"step="0.1" min="0"  name="maxD" placeholder="D - Maximum score" class="form-control mb-3" />
                        <input type="number"step="0.1" min="0"  name="maxE" placeholder="E - Maximum score" class="form-control mb-3" />
                       
                       </div>
                         
                       </div>
                       
                     <div class="d-grid">
                       <button  class="btn btn-primary btn-block mb-3" name="submit">Submit</button>
                   </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>