<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-light"style="text-align: center;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto mt-5">

                <div class="card bg-light" style="self-align: center;">
                <div class="card-body">
                 <label><em>Please login with your Teacher account</em></label>
                    <form action="./process.php" method="post">
                        <input type="text" name="tEmail" placeholder="Teacher: E-mail" class="form-control mb-3 mt-3"/>
                        <input type="password" name="tpassword" placeholder="password" class="form-control mb-3" />

                     <div class="d-grid">
                       <button  class="btn btn-primary btn-block mb-3" name="tLogin">Login</button>
                   </div>
                  </form>
                </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>