<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-light">
    <div class="container" style="justify-content: center;">
        <div class="row">
            <div class="col-lg-6 m-auto mt-5">
                <div class="card bg-light" style="text-align: center;">
                   
                <div class="card-body">
                    <label ><h6>update the score <em>IIKG1001</h6></em> </label>
                    <form action="process.php" method="POST">
                        <input type="number"step="0.01" name="newscore" placeholder="score" class="form-control mb-3"/>
                
                     <div class="d-grid">
                       <button  class="btn btn-primary btn-block" name="update">Update</button>
                   </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>